LINKEDIN_USERNAME=your_linkedin_username
LINKEDIN_PASSWORD=your_linkedin_password
LINKEDIN_PHONE_NUMBER=+91XXXXXXXXXX
LINKEDIN_LOCATION_COUNTRY=IN
LINKEDIN_LOCATION_CITY="Mumbai"
LINKEDIN_PROFILE_URL=https://www.linkedin.com/in/your-profile/
LINKEDIN_SALARY=180000
LINKEDIN_RATE=150
